@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
	padding: 4rem 0;
}
.containe {
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: 1366px;
	margin: auto;
}
.alt {
	@apply bg-orange-50;
}

.btn-primary {
	@apply bg-orange-400 rounded shadow px-6 py-2 text-white hover:shadow-lg hover:bg-orange-500;
	transition: 0.3s all;
}

.title {
	@apply text-orange-400 text-3xl font-bold tracking-tight sm:text-4xl text-center mb-8;
}
.title h2 {
	@apply inline-block relative;
}
.section:hover .title h2:after {
	left: calc(50% - 25px);
}
.title h2:after {
	@apply bg-orange-400 absolute left-0 bottom-[-12px];
	content: "";
	height: 5px;
	width: 50px;
	transition: 0.3s all;
}
.form-input {
	@apply block w-full rounded-md border-0 px-3 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-orange-400 sm:text-sm sm:leading-6;
}
.radio-control {
	@apply border px-2 py-1 rounded cursor-pointer bg-white shadow-sm my-1 me-2 inline-block;
	text-transform: capitalize;
}
